"""
User Settings
"""
from datetime import datetime, timedelta

# MYSQL
DB_CONNECTION='mysql'
DB_HOST='localhost'
DB_PORT='3306'
DB_DATABASE='scott'
DB_USERNAME='scott'
DB_PASSWORD=''

# Email Configuration
MAIL_DRIVER='smtp'
MAIL_HOST=''
MAIL_PORT=587
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME=''
MAIL_FROM_ADDRESS=''

# Installed Apps
INSTALLED_APPS = [
]

# Secret key for password hashing
SECRET_KEY = 'super-secret'

# Enable JWT (You need to configure JWT settings)
# JWT callbacks
# JWT = {
#     'verify': '<verify_handler>',
#     'identity': '<identity_handler>',
#     'payload_handler': '<payload_handler>'
# }
# JWT_AUTH_HEADER_PREFIX = 'Token'
# JWT_AUTH_USERNAME_KEY = 'email'
# JWT_EXPIRATION_DELTA = timedelta(days=1)
# Elasticsearch Index Doc for authentication
# AUTHENTICATION_MODEL = '<path.model>'

ENABLE_JWT = False

# Tenant JWT field
TENANT_FIELD = "cusomer"
